<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title%}<title>Enter Unique Value Here</title>{% endblock title%}
</head>
<body>
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
    </nav>
</header>

<main>

{% block header %}
<h1>Enter Unique Value Here</h1>
{% endblock header %}


{% block content%}
<p>Enter Unique Value Here</p>
{% endblock content%}

</main>

</body>
</html>